// Toggle global options
$enable-gradients: false;
$enable-shadows: false;

@import "bootstrap/_functions";

// Include any default variable overrides here

$primary: #83a2ff;
$secondary: #39539e;
$success: #00ad63;
$danger: #f61700;
$warning: #e5cd00;
$info: #ec3965;
$light: #d1f6fc;
$dark: #08143a;

$border-radius: .2rem;

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter.ttf);
}

$font-family-sans-serif: // Inter - because it looks nice
    "Inter",
    // Cross-platform generic font family (default user interface font)
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Windows
    "Segoe UI",
    // Android
    Roboto,
    // Basic web fallback
    "Helvetica Neue", Arial,
    // Linux
    "Noto Sans",
    "Liberation Sans",
    // Sans serif fallback
    sans-serif,
    // Emoji fonts
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


// Required
@import "bootstrap/_variables";
@import "bootstrap/_variables-dark";
@import "bootstrap/_maps";
@import "bootstrap/mixins";
@import "bootstrap/utilities";
@import "bootstrap/_root";
@import "bootstrap/_reboot";



@import "bootstrap/_type";
@import "bootstrap/_images";
@import "bootstrap/_containers";
@import "bootstrap/_grid";
// @import "bootstrap/_tables";
@import "bootstrap/forms";
@import "bootstrap/_buttons";
@import "bootstrap/_transitions";
@import "bootstrap/_dropdown";
@import "bootstrap/_button-group";
@import "bootstrap/_nav";
@import "bootstrap/_navbar"; // Requires nav
@import "bootstrap/_card";
// @import "bootstrap/_breadcrumb";
// @import "bootstrap/_accordion";
// @import "bootstrap/_pagination";
// @import "bootstrap/_badge";
// @import "bootstrap/_alert";
// @import "bootstrap/_progress";
// @import "bootstrap/_list-group";
// @import "bootstrap/_close";
// @import "bootstrap/_toasts";
$modal-fade-transform: none;

@import "bootstrap/_modal"; // Requires transitions

.modal {
    --bs-modal-bg: var(--bs-primary-bg-subtle);
}

// @import "bootstrap/_tooltip";
// @import "bootstrap/_popover";
// @import "bootstrap/_carousel";
// @import "bootstrap/_spinners";
// @import "bootstrap/_offcanvas"; // Requires transitions
// @import "bootstrap/_placeholders";

// Helpers
// @import "bootstrap/helpers";

// Utilities
@import "bootstrap/utilities/_api";



// custom
html,
body {
    width: 100%;
}

.content-container {
    width: 100%;
    min-height: calc(100vh - 137px);
}

body {
    background-color: var(--bs-primary-bg-subtle);
}

.fullscreen-hero {
    height: 100vh;
}

.main-hero {
    height: 85vh;
}

.fade-in {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

.project-showcase-col {
    :hover {
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -o-transform: scale(1.01);
        transform: scale(1.01);
    }
}

.project-showcase {
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    min-height: 330px;
    max-height: 350px;

    .card-img {
        min-height: 330px;
        max-height: 350px;
        object-fit: cover;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        filter: blur(3px);
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
    }

    .card-img-overlay {
        background-color: rgba($dark, 0.6);
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
    }
}

.project-showcase:hover>*:not(.card-img-overlay) {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
}

.card-img-overlay:hover {
    background-color: rgba($dark, 0.4);
}

.modal-open {
    overflow-y: scroll;
}

body.modal-open .container>*:not(.modal) {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.nav-item {
    padding: 0px 6px;

    .nav-link {
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
    }

    :hover {
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -o-transform: scale(1.025);
        transform: scale(1.025);
    }

    @include media-breakpoint-up(lg) {
        :hover {
            -webkit-transform: scale(1.25);
            -moz-transform: scale(1.25);
            -o-transform: scale(1.25);
            transform: scale(1.25);
        }
    }
}

.no-hover {
    pointer-events: none;
}

.social-list {
    list-style: none;
    font-size: xx-large;

    li a {
        i {
            color: var(--bs-body-color);
            -webkit-transition: all .25s;
            -moz-transition: all .25s;
            -o-transition: all .25s;
            transition: all .25s;
        }

        :hover {
            -webkit-transform: scale(1.25);
            -moz-transform: scale(1.25);
            -o-transform: scale(1.25);
            transform: scale(1.25);
            color: var(--bs-secondary-text-emphasis);
        }

        :active {
            color: var(--bs-primary-text-emphasis);
        }
    }
}

.scroll-button {
    font-size: xx-large;

    i {
        color: var(--bs-body-color);
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
    }

    :hover {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25);
        color: var(--bs-secondary-text-emphasis);
    }

    :active {
        color: var(--bs-primary-text-emphasis);
    }
}

p.lead {
    a:link {
        text-decoration: none;
        color: var(--bs-body-color);
        font-weight: bolder;
    }

    a:visited {
        text-decoration: none;
        color: var(--bs-body-color);
        font-weight: bolder;
    }

    a:hover {
        color: var(--bs-secondary-text-emphasis);
    }

    a:active {
        color: var(--bs-primary-text-emphasis);
    }
}

.navbar-toggler {
    width: 30px;
    height: 20px;
    position: relative;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--bs-body-color);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

// Open

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(45deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-45deg);
}

// Collapsed

.navbar-toggler.collapsed .toggler-icon {
    height: 2px;
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -16px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    -webkit-filter: alpha(opacity=10);
    -moz-filter: alpha(opacity=10);
    -o-filter: alpha(opacity=10);
    filter: alpha(opacity=10);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 16px;
    transform: rotate(0deg);
}