---
layout: default
---

<div class="container fullscreen-hero px-4 py-5 fade-in">
    <div class="row flex-lg-row align-items-center g-5 py-5 h-75">
        <div class="col-10 col-sm-8 col-lg-6">
            <div class="d-flex">
                <img src="assets/images/test_avatar.png" alt="Avatar" width="256" height="256"
                    class="rounded-circle ms-lg-auto" loading="lazy">
                <ul class="social-list d-flex flex-column mx-auto ps-3">
                    <li> <a href="https://github.com/Paul-Hi"><i class="fa-brands fa-github"></i></a></li>
                    <li> <a href="https://www.linkedin.com/in/paul-himmler-92b092152/"><i
                                class="fa-brands fa-linkedin"></i></a></li>
                    <li> <a href="https://twitter.com/paulhihihi"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li> <a href=""><i class="fa-brands fa-google-scholar"></i></i></a></li>
                    <li> <a href=""><i class="fa-brands fa-researchgate"></i></i></a></li>
                </ul>
            </div>
        </div>
        <div class=" col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Hi there!</h1>
            <p class="lead">I am a PhD candidate at the <a href="https://vc.tf.fau.de/">Professorship for Visual
                    Computing</a> at FAU Erlangen-Nürnberg,
                supervised by Prof. Dr.-Ing. Tobias Günther.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="project-scroll scroll-button">
            <i class="fa-solid fa-chevron-down"></i>
        </div>
    </div>
</div>

<!-- TODO Next: About, Font, Move Theme Toggle Up and redesign navbar, Fix Scroll Arrow Mobile, More AOS-->

<div class="container px-4 py-5 fade-in" id="about" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
    <h2 class="pb-3 display-6 border-bottom"> About </h2>
    <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <div class="d-flex">
                TODO
            </div>
        </div>
        <div class=" col-lg-6">
            TODO
        </div>
    </div>
</div>

<div class="container px-4 py-5 fade-in" id="project-cards" data-aos="fade-bottom" data-aos-anchor-placement="top-bottom">
    <h2 class="pb-3 display-6 border-bottom"> Projects </h2>

    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
        {% for proj in site.projects %}
        <div class="col  project-showcase-col">
            <div class="card overflow-hidden text-overflow-ellipsis rounded-4 project-showcase" data-bs-toggle="modal"
                data-aos="fade-up" data-aos-anchor-placement="center-bottom" href="#modal{{ forloop.index }}"
                data-bs-toggle="modal" href="#modal{{ forloop.index }}">
                <img class="card-img card-cover" src="{{ proj.image }}" alt=" Project image">
                <div class="d-flex card-img-overlay inline-block flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold no-hover">{{ proj.title }}</h3>
                    <ul class="d-flex list-unstyled mt-auto no-hover">
                        <li class="me-auto">
                            {{ proj.icon }}
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <small>{{ proj.type }}</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% for proj in site.projects %}
    <div class="modal fade" id="modal{{ forloop.index }}" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title display-6">{{ proj.title }}</h3>
                    <div type="button" class="btn-close px-3" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
                <div class="modal-body">
                    {{ proj.content }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    AOS.init({
        duration: 1000
    });
</script>

<script>
    $('.project-scroll').on('click', function (e) {
        $('html, body').animate({
            scrollTop: $("#about").offset().top
        }, 1000);
    });
</script>